epub/MarkdownFiles/*.md
pdf/MarkdownFiles/*.tex
mobi/MarkdownFiles/*.tex
epub/MarkdownFiles/*.tex
epub/createEpub.sh

#pdf/**/*.md
#mobi/**/*.md
#epub/**/*.md

.DS_Store
*.pdf
*.mobi
*.epub
*.bak
*.tgz
*.gz
*.zip
*.aux
*.fdb_latexmk
*.fls
*.idx
*.log
*.ilg
*.ind
*.out
*.toc
*.class
*.jar
